/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&family=Rubik&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

::placeholder {
  color: black;
  font-size: calc(14px + 2 * ((100vw - 360px) / 940));
}

.hidden {
  display: none;
}

/* #root {
  background-color: black;
  color: whitesmoke;
} */

#overlord {
  display: flex;
  font-size: calc(15px + 8 * ((100vw - 360px) / 940));
  min-width: 360px;
  min-height: 100vh;
  font-family: 'Varta', sans-serif;
  overflow: hidden;
}

a, a:visited {
  color: whitesmoke;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(3600%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes backgroundFadeIn {
  0% {
    background-color: rgb(0, 0, 0, .0)
  }
  100% {
    background-color: rgb(0, 0, 0, .6)
  }
}





/*********************************************/
/******************** App ********************/
/*********************************************/


#main-container {
  /* background: transparent; */
  height: 100vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-container {
  /* background: transparent; */
  width: 30%;
  display: flex;
  height: 100vh;
}





/*********************************************/
/******************** Nav ********************/
/*********************************************/


.nav {
  width: 100%;
}

.nav-top {
  /* height: 33.3%; */
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.nav-middle {
  height: 50%;
  /* height: 33.3%; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* padding: 6vh 0 0 0; */
}

.nav-bottom {
  height: 33.3%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.nav-top-button {
  width: 65%;
  height: 8vw;
  margin: 0 0 10% 10%;
}

.nav-middle-button {
  width: 65%;
  height: 8vw;
  margin: 0 0 10% 10%;
}

.nav-bottom-button {
  width: 65%;
  height: 8vw;
  margin: 10% 0 0 10%;
}

.nav-button {
  border: .5px solid magenta;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(0, 0, 0, 0.6);
  font-size: calc(18px + 24 * ((100vw - 360px) / 940));
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 10px;
  /* transform: scale(0); */
  /* animation: 2s ease-out 0s 1 popIn forwards; */
}

.nav-home-bio a,
.nav-home-bio:visited,
.nav-home-projects a,
.nav-home-projects:visited,
.nav-home-contact a,
.nav-home-contact:visited,
.nav-home-resources a,
.nav-home-resources:visited {
  color: whitesmoke;
}

.nav-home-bio:hover,
.nav-home-projects:hover {
  background-color: rgb(0, 0, 0, .9);
}

.nav-home-contact,
.nav-home-resources {
  background-color: rgb(0, 0, 0, .9);
}

.nav-home-contact:hover,
.nav-home-resources:hover {
  background-color: rgb(0, 0, 0, .9);
}





/*********************************************/
/******************** Bio ********************/
/*********************************************/


#bio-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  color: whitesmoke;
}

#bio-1 {
  height: 46%;
}

#bio-header {
  overflow: hidden;
  animation: 2s ease-out 0s 1 slideInFromRight;
  height: 100%;
  /* width: 90%; */
  display: flex;
  /* justify-content: center; */
  align-items: flex-end;
  font-size: calc(50px + 114 * ((100vw - 360px) / 940));
  padding: 0 20px;
}

#bio-header span {
  animation: 2s ease-out 2s 1 backgroundFadeIn forwards;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  padding: 4% 3% 0 3%;
}

#bio-2 {
  height: 54%;
}

#bio-content {
  animation:
    2s ease-out 0s 1 slideInFromDown forwards,
    2s ease-out 0s 1 fadeIn forwards;
  height: 60%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.3;
  /* opacity: 0; */
}

#bio-content span {
  animation: 2s ease-out 2s 1 backgroundFadeIn forwards;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  padding: 0% 3% 4% 3%;
  font-size: calc(14px + 6 * ((100vw - 360px) / 940));
}

#bio-footer {
  height: 40%;
  padding: 0 20px;
  line-height: 1.3;
}

#bio-footer span {
  /* border: 1px solid white; */
  animation:
    2s ease-out 2s 1 backgroundFadeIn forwards,
    2s ease-out 2s 1 fadeIn forwards;
  border-radius: 10px;
  opacity: 0;
  padding: 2% 3%;
  /* opacity: 0; */
  font-size: calc(12px + 8 * ((100vw - 360px) / 940));
}





/*************************************************/
/******************** Project ********************/
/*************************************************/


#projects-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 90%;
  height: 95%;
}

.project-tabs {
  height: 100%;
  /* border: 1px solid whitesmoke; */
  border-radius: 10px;
  overflow: hidden;
}

#tab-labels {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 8%;
}

/* .active {
  background-color: black;
  color: white;
} */

.tab-link {
  height: 100%;
  /* width: 20%; */
  flex: 1;
  overflow: hidden;
  font-size: calc(11px + 6 * ((100vw - 360px) / 940));
  /* border-bottom: 1px solid whitesmoke; */
  /* border-right: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  color: black;
  transition: 0.3s;
  line-height: 1.4;
  padding: 2px 5px;
}

#tab-link2 {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.tab-link:hover {
  color: whitesmoke;
  background-color: black;
  /* border-left: 1px solid white; */
  /* border-right: 1px solid white; */
}

#tab-content {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  height: 92%;
  border: 1px solid white;
}

.project {
  display: flex;
  flex-direction: column;
  /* font-size: calc(14px + 6 * ((100vw - 360px) / 940)); */
  /* height: 78vh; */
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  color: whitesmoke;
  border: 1px solid white;
}

.tophalf {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-top {
  display: flex;
  width: 100%;
  height: 25%;
  margin: 50px 0 0 0;
}

.project-title {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  font-size: calc(20px + 18 * ((100vw - 360px) / 940));
  padding: 10px;
  /* border-right: 1px solid whitesmoke; */
}

.project-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20%;
  overflow: hidden;
  padding: 10px;
  font-size: calc(10px + 4 * ((100vw - 360px) / 940));
  line-height: 1.5;
}

.project-links-live {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-link {
  margin: 0 15% 0 0;
}

.project-links-client {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-link {
  margin: 0 15% 0 0;
}

.project-links-server {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.server-link {
  margin: 0 15% 0 0;
}

.project-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
}

.project-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  padding: 20px;
  /* border: 1px solid white; */
}

.project-description span {
  font-size: calc(13px + 7 * ((100vw - 360px) / 940));
}

.project-descriptionxX {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 100%;
  padding: 20px 10px;
  /* border: 1px solid white; */
}

.project-descriptionxX span {
  font-size: calc(11px + 5 * ((100vw - 360px) / 940));
}

.project-tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
  overflow: hidden;
  font-size: calc(10px + 6 * ((100vw - 360px) / 940));
  line-height: 1.4;
  padding: 10px;
  /* border-left: 1px solid whitesmoke; */
}

/* .project-tech-header {
  display: flex;
  justify-self: flex-start;
} */

.project-bot {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 50%;
}

.project-botxX {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  height: 50%;
  width: 100%;
}

.project-img {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-link {
  display: flex;
  justify-content: center;
  align-self: center;
}

img {
  justify-self: flex-start;
  max-width: 95%;
  max-height: 300px;
}





/*************************************************/
/******************** Contact ********************/
/*************************************************/


#contact-container {
  /* border: 1px solid white; */
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  height: 95%;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* margin: 0 0 3% 0; */
  /* border: 3px solid red; */
}

#contact-button-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
  padding: 50px 0 0 0;
}

#contact-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 1px solid whitesmoke; */
  border: 1px solid transparent;
  padding: 20px 20px 10px 20px;
  transition: 0.3s;
}

/* #contact-header:hover {
  background-color: whitesmoke;
  color: black;
} */

#contact-span-1 {
  margin: 0 0 3% 0;
  padding: 0 10px;
}

#contact-span-2 {
  margin: 0 0 3% 0;
  padding: 0 10px;
}

.icon {
  transition: 0.3s;
  color: white;
}

.icon:hover {
  transform: scale(1.6);
}

.icon2:hover {
  transform: scale(1.6);
}

#contact-buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#form-fieldset {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  padding: 40px 0 30px 0;
}

#nameinput, #emailinput {
  background-color: rgba(0, 0, 0, .6);
  color: white;
  width: 85%;
  height: calc(30px + 10 * ((100vw - 360px) / 940));
  margin: 0 0 15px 0;
  padding: 10px;
  font-size: calc(12px + 6 * ((100vw - 360px) / 940));
  border-radius: 8px;
}

#nameinput::placeholder, #emailinput::placeholder, #maininput::placeholder {
  color: white;
}

#textarea {
  width: 85%;
  height: 150px;
  /* height: calc(40px + 120 * ((100vw - 360px) / 940)); */
  margin: 0 0 0 0;
}

#maininput {
  background-color: rgba(0, 0, 0, .6);
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: calc(12px + 6 * ((100vw - 360px) / 940));
  border-radius: 8px;
}

#contactbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 45px;
  margin: 30px 0 10px 0;
}

#submit {
  background-color: rgba(0, 0, 0, .6);
  color: white;
  transition: 0.3s;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

#submit:hover {
  background-color: white;
  color: black;
}

#submit:only-child {
  padding: 7px 0 0 0;
}




/***************************************************/
/******************** Resources ********************/
/***************************************************/

.R-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 85%;
  color: white;
}

.R-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.R-header {
  background-color: rgb(0, 0, 0, .8);
  padding: 15px;
  line-height: 1.4;
  border-radius: 10px;
  text-align: center;
}

.R-2 {
  background-color: rgb(0, 0, 0, .8);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  padding: 2% 0 0 0;
  overflow-y: auto;
}

.R-item {
  display: flex;
  /* justify-content: flex-start; */
  /* align-items: center; */
  padding: 2%;
  width: 100%;
  height: 10vh;
}

.R-left {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}

.R-right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  font-size: 22px;
}





@media only screen and (max-width: 940px) {
  
  #bio-1 {
    height: 35%;
  /* border: 3px solid red; */
  }

  #bio-2 {
    height: 65%;
  }

  #bio-content {
    height: 80%;
  }

  .project-top {
    margin: 20px 0 0 0;
  }

}




@-moz-document url-prefix() {
  #form-fieldset {
    padding: 40px 0 30px 0;
  }
}